.inputs {
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    border: 2px solid #61dafb;
    border-radius: 5px;
}

.inputItem {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.inputText {
    color: #61dafb;
}

.input {
    width: 75px;
    outline: none;
}

.inputError {
    width: 75px;
    outline: none;
    border-color: red;
    background-color:lightcoral;
}